<div class="row">
  <h2>Alterar Colaborador</h2> 
</div>

<div class="row">
	<a href="javascript:window.history.go(-1)">Voltar</a>
	<input type="button" ng-click="salvarDadosAlteracao()" value="Alterar" />
</div>



<div class="row">
	<input type="text" ng-model="colaboradorSelecionado.nome"/>
	<!-- <input type="text" ng-model="colaboradorSelecionado.cargo.descricao"/>
	<input type="text" ng-model="colaboradorSelecionado.departamento.descricao"/> -->
	<input type="text" ng-model="colaboradorSelecionado.biografia"/>
</div>